node_modules/*
build/gipp-bundle/gipp.bundle.js
build/gipp-min-bundle/gipp.bundle.js
docs/*
gipp-transpiled/src/*
bin/*
lib/jasmine_examples
spec/helpers
spec/jasmine_examples

*.log
plan.txt
test.js
_test.js
