node_modules/*

build/gipp/lib/*
build/gipp-transpiled/lib/*
build/gipp-bundle/gipp.bundle.js
build/gipp-min-bundle/gipp.bundle.js

test/node_modules/*

bin/*

lib/jasmine_examples
spec/helpers
spec/jasmine_examples

*.log
plan.txt
test.js
_test.js
